/* Mobile responsive */
@media(max-width:576px){
    .db-accordion-button{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }
}
/* 📱 Mobile Responsive */
@media (max-width: 768px) {

  .desktop-img {
    display: none;   /* desktop wali image hide */
  }

  .mobile-img {
    display: block;  /* mobile me image H1 ke baad show */
    margin: 20px 0;
  }

  .text-content h1 {
    font-size: 28px;
  }
}
@media (max-width:1610px) and (min-width:767px){
  .okk {
  margin: 60px;
  padding: auto;
}
}
@media (max-width:580px) and (min-width:265px){
  h1{
   
    text-align: center;
     padding-left: 0; /* zaroori hai warna center nahi hoga */
  }
}
/* Responsive */
@media (max-width:768px){
  .custom-box{
    min-height:220px;
    padding:30px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .service-card {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 25px;
  }

  .service-img img {
    width: 90px;
  }
}
/* RESPONSIVE: exact stacking like image */
@media (max-width: 900px) {
  .footer-middle { flex-direction: column; align-items: center; text-align: center; }
  .contact { max-width: 100%; }
  .subscribe-form input[type="email"] { width: 100%; max-width: 360px; }
  .footer-top { flex-direction: column; align-items: center; text-align: center; gap: 18px; }
  .footer-nav ul { flex-wrap: wrap; justify-content: center; gap: 16px; }
  .footer-bottom { flex-direction: column; align-items: center; text-align: center; }
  .legal { text-align: center; }
}